__pycache__i/
GatoMejorado/__pycache__/
pacman/__pycache__/
file-transfer/.qtcreator/
file-transfer/__pycache__/
video_stream_app/.qtcreator/
video_stream_app/__pycache__/
chat/.qtcreator/
chat/__pycache__/
chat_server/.qtcreator/
chat_server/__pycache__/
chat_server/server.crt
chat_server/server.key
chat/server.crt
chat/client.crt
chat/server.key
chat/client.key
chat/downloads/
